---
export const prerender = true;
import Layout from "../../layout/Layout.astro";

export async function getStaticPaths() {
    const modules = import.meta.glob("/src/content/posts/*.md", {
        eager: true,
    });

    const posts = Object.entries(modules).map(([path, mod]: any) => {
        const fileName = path.split("/").pop();
        const slug = fileName?.replace(/\.md$/, "");
        return {
            params: { slug },
            props: {
                frontmatter: mod.frontmatter,
                Content: mod.default,
            },
        };
    });

    return posts;
}

const { frontmatter, Content } = Astro.props;
---

<Layout title={frontmatter.title}>
    <article>
        <h1>{frontmatter.title}</h1>
        <p>
            <em>{new Date(frontmatter.date).toLocaleDateString()}</em>
        </p>
        <Content />
    </article>
</Layout>
