---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layout/Layout.astro";
import { generateStaticPaths } from "../../utils/getStaticPathsHelper";

export const prerender = true;
type PostEntry = CollectionEntry<"posts">;

export async function getStaticPaths() {
    return generateStaticPaths("posts");
}

const { entry }: { entry: PostEntry } = Astro.props;
// Render the Markdown body
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <article>
        <h1>{entry.data.title}</h1>
        <p>
            <em>{new Date(entry.data.date).toLocaleDateString()}</em>
        </p>
        <Content />
    </article>
</Layout>
