---
import Layout from "../../layout/Layout.astro";

type Post = {
    slug: string;
    title: string;
    date: string;
};

const modules = import.meta.glob<{
    frontmatter: { title: string; date: string };
}>("/src/content/posts/*.md", { eager: true });

const posts: Post[] = Object.entries(modules)
    .map(([path, mod]) => {
        const fileName = path.split("/").pop()!;
        const slug = fileName.replace(/\.md$/, "");

        return {
            slug,
            title: mod.frontmatter.title,
            date: mod.frontmatter.date,
        };
    })
    .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
---

<Layout title="Posts">
    <h1 class="text-red-400 font-bold text-2xl">Posts</h1>
    <ul>
        {
            posts.map((p) => (
                <li class="list-disc list-inside space-y-2 text-gray-700">
                    <a href={`/posts/${p.slug}`}>
                        {p.title} - {new Date(p.date).toLocaleDateString()}
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>
