---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layout/Layout.astro";
import { generateStaticPaths } from "../../utils/getStaticPathsHelper";

export const prerender = true;

type BlogEntry = CollectionEntry<"blog">;

export async function getStaticPaths() {
    return generateStaticPaths("blog");
}

const { entry }: { entry: BlogEntry } = Astro.props;
// Render the Markdown body
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <article>
        <h1>{entry.data.title}</h1>
        <p>
            <em>{new Date(entry.data.date).toLocaleDateString()}</em>
        </p>
        <!-- {
            entry.data.thumbnail && (
                <img src={entry.data.thumbnail} alt={entry.data.title} />
            )
        } -->
        <Content />
    </article>
</Layout>
