---
import Layout from "../layout/Layout.astro";
---

<Layout title="Home">
    <section class="pt-10">
        <button
            class="shadow-[inset_0_0_0_2px_#616467] text-black px-12 py-4 rounded-full tracking-widest uppercase font-bold bg-transparent hover:bg-[#616467] hover:text-white dark:text-neutral-200 transition duration-200"
        >
            Playlist
        </button>
    </section>
</Layout>
